{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "react-hooks", "prettier"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-array-index-key": "off",
    "no-param-reassign": "off",
    "no-extend-native": "off",
    "react/no-this-in-sfc": "off",
    "import/no-extraneous-dependencies": "off",
    "no-console": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "import/no-named-as-default": "off",
    "react/function-component-definition": "off",
    "react/no-children-prop": "off",
    "react/prop-types": "off",
    "prefer-destructuring": "off",
    "no-plusplus": "off",
    "react/button-has-type": "off",
    "no-underscore-dangle": "off",
    "react/jsx-no-useless-fragment": "off",
    "no-restricted-syntax": "off",
    "prettier/prettier": "off"
  }
}
