.react-datepicker__input-container input {
  width: 100%;
  border-color: var(--chakra-colors-gray-300);
  border-radius: 6px;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 3rem !important;
  padding: 8px;
}

.react-datepicker__header {
  background-color: #fff !important;
  border-color: transparent !important;
}

.react-datepicker__month-container {
  @apply shadow-md;
}
